@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,500,400italic,300italic,300,100,100italic);
body {
  margin: 0; }

p, a, span, div {
  font-family: "Roboto"; }

img.retina {
  width: 100%; }
  @media only screen and (min-width: 2320px) {
    img.retina {
      width: 100%; } }

img.no-resize {
  width: auto; }

#shWrap img {
  width: inherit; }

.ngg-galleryoverview .ngg-gallery-thumbnail {
  width: 215px;
  height: 215px;
  box-sizing: border-box; }
  @media only screen and (min-width: 2320px) {
    .ngg-galleryoverview .ngg-gallery-thumbnail {
      width: 430px;
      height: 430px; } }
  .ngg-galleryoverview .ngg-gallery-thumbnail img {
    padding: 0;
    border: 0;
    height: 100%;
    margin: 0; }
    .ngg-galleryoverview .ngg-gallery-thumbnail img:hover {
      background-color: transparent; }

h1 {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 40px 0; }
  @media only screen and (min-width: 2320px) {
    h1 {
      font-size: 50px;
      margin: 0 0 80px 0; } }

/* CLEAR FIX*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
header {
  background-color: #4b0c09;
  padding-top: 40px;
  position: relative; }
  @media only screen and (min-width: 2320px) {
    header {
      padding-top: 80px; } }
  header .header {
    font-family: "Roboto";
    width: 1160px;
    margin: 0 auto; }
    @media only screen and (min-width: 2320px) {
      header .header {
        width: 2320px; } }
    header .header .logo {
      float: left;
      width: 97px; }
      @media only screen and (min-width: 2320px) {
        header .header .logo {
          width: 194px; } }
    header .header .site-description {
      display: inline-block;
      position: relative;
      vertical-align: top;
      font-size: 21px;
      color: #fff;
      margin: 0 250px 0 33px;
      text-transform: uppercase;
      font-weight: bold;
      width: 200px;
      line-height: 24px; }
      @media only screen and (min-width: 2320px) {
        header .header .site-description {
          line-height: 48px;
          width: 400px;
          margin: 0 500px 0 66px;
          font-size: 40px; } }
    header .header .info {
      display: inline-block;
      vertical-align: top;
      text-align: right;
      color: #fff; }
      header .header .info .phones {
        font-size: 15px;
        margin: 0 0 10px 0; }
        @media only screen and (min-width: 2320px) {
          header .header .info .phones {
            margin: 0 0 20px 0;
            font-size: 30px; } }
      header .header .info .worktime {
        font-weight: lighter;
        font-size: 12px;
        margin: 0; }
        @media only screen and (min-width: 2320px) {
          header .header .info .worktime {
            font-size: 24px; } }
    header .header .navigation .menu {
      padding-bottom: 40px;
      display: inline-block; }
      @media only screen and (min-width: 2320px) {
        header .header .navigation .menu {
          padding: 0 0 60px 80px; } }
      header .header .navigation .menu li {
        display: inline-block;
        padding-right: 40px; }
        @media only screen and (min-width: 2320px) {
          header .header .navigation .menu li {
            padding-right: 80px; } }
        header .header .navigation .menu li.current-menu-item a, header .header .navigation .menu li a:hover {
          padding-bottom: 12px;
          border-bottom: 2px solid  #fff; }
          @media only screen and (min-width: 2320px) {
            header .header .navigation .menu li.current-menu-item a, header .header .navigation .menu li a:hover {
              padding-bottom: 24px; } }
        header .header .navigation .menu li a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px; }
          @media only screen and (min-width: 2320px) {
            header .header .navigation .menu li a {
              font-size: 24px; } }
    header .header .make-order {
      width: 150px;
      height: 34px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      border: 2px solid #e7e7e7;
      border-radius: 37px;
      background-clip: padding-box;
      background-color: rgba(255, 255, 255, 0.1);
      margin-left: 40px;
      background-color: #5d2522;
      text-transform: uppercase; }
      @media only screen and (min-width: 2320px) {
        header .header .make-order {
          width: 300px;
          height: 68px;
          margin-left: 80px;
          border: 4px solid #e7e7e7; } }
      header .header .make-order a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
        padding-top: 9px;
        font-size: 13px; }
        @media only screen and (min-width: 2320px) {
          header .header .make-order a {
            padding-top: 17px;
            font-size: 26px; } }
    header .header .spec-menu {
      font-size: 0;
      position: absolute;
      top: 142px;
      width: 852px;
      z-index: 10;
      border-radius: 3px;
      background-clip: padding-box;
      background-color: #fff;
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15); }
      @media only screen and (min-width: 2320px) {
        header .header .spec-menu {
          width: 1704px;
          top: 284px; } }
      header .header .spec-menu .form-wrap {
        width: 50%;
        height: 100%;
        vertical-align: top;
        display: inline-block;
        padding: 25px 30px 30px 30px;
        box-sizing: border-box; }
        @media only screen and (min-width: 2320px) {
          header .header .spec-menu .form-wrap {
            padding: 50px 60px 60px 60px; } }
        header .header .spec-menu .form-wrap .title {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          margin-top: 0; }
          @media only screen and (min-width: 2320px) {
            header .header .spec-menu .form-wrap .title {
              font-size: 28px; } }
        header .header .spec-menu .form-wrap .spec-link {
          padding-bottom: 15px; }
          @media only screen and (min-width: 2320px) {
            header .header .spec-menu .form-wrap .spec-link {
              padding-bottom: 30px; } }
        header .header .spec-menu .form-wrap:nth-child(2) {
          background-color: #f2f2f2; }
        header .header .spec-menu .form-wrap .spec-link {
          width: 50%;
          display: inline-block; }
          header .header .spec-menu .form-wrap .spec-link a {
            color: #4b0c09;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none; }
            @media only screen and (min-width: 2320px) {
              header .header .spec-menu .form-wrap .spec-link a {
                font-size: 28px; } }

html, body, .wrapper, .content-wrapper {
  height: 100%; }

body > .wrapper {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 173px;
  box-sizing: border-box; }
  @media only screen and (min-width: 2320px) {
    body > .wrapper {
      padding-bottom: 346px; } }

footer {
  position: absolute;
  bottom: 0;
  height: 173px; }
  @media only screen and (min-width: 2320px) {
    footer {
      height: 346px; } }

footer {
  background-color: #1d1f21;
  width: 100%; }
  footer .footer {
    width: 1160px;
    margin: 0 auto;
    padding: 40px 0; }
    @media only screen and (min-width: 2320px) {
      footer .footer {
        width: 2320px;
        padding: 80px 0; } }
    footer .footer .logo {
      display: inline-block;
      width: 97px; }
      @media only screen and (min-width: 2320px) {
        footer .footer .logo {
          width: 194px; } }
    footer .footer .info {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      color: #fff;
      margin: 23px 0 0 100px; }
      @media only screen and (min-width: 2320px) {
        footer .footer .info {
          margin: 46px 0 0 200px; } }
      footer .footer .info .phones {
        font-size: 15px;
        margin: 0 0 10px 0; }
        @media only screen and (min-width: 2320px) {
          footer .footer .info .phones {
            font-size: 30px;
            margin: 0 0 20px 0; } }
      footer .footer .info .worktime {
        font-weight: lighter;
        font-size: 12px;
        margin: 0; }
        @media only screen and (min-width: 2320px) {
          footer .footer .info .worktime {
            font-size: 24px; } }
    footer .footer #searchform {
      float: right;
      margin-top: 23px; }
      footer .footer #searchform .search-field {
        height: 37px;
        width: 177px;
        border-radius: 50px;
        border: 0;
        padding-left: 25px;
        font-size: 12px; }
        @media only screen and (min-width: 2320px) {
          footer .footer #searchform .search-field {
            margin-top: 46px;
            height: 75px;
            width: 354px;
            border-radius: 100px;
            padding-left: 50px;
            font-size: 24px; } }

.content-wrapper.front .content {
  width: 852px; }
  @media only screen and (min-width: 2320px) {
    .content-wrapper.front .content {
      width: 1704px; } }

.content-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px; }
  @media only screen and (min-width: 2320px) {
    .content-wrapper {
      width: 2320px;
      margin-top: 80px; } }
  .content-wrapper .content {
    width: 100%;
    display: inline-block; }
    .content-wrapper .content .slider {
      position: relative; }
      .content-wrapper .content .slider .slider-text {
        position: absolute;
        bottom: 66px;
        left: 23px;
        color: #fff;
        font-size: 30px;
        margin: 0; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .content .slider .slider-text {
            bottom: 132px;
            left: 46px;
            font-size: 60px; } }
      .content-wrapper .content .slider .slider-date {
        position: absolute;
        bottom: 27px;
        left: 23px;
        font-size: 12px;
        color: #fff;
        margin: 0; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .content .slider .slider-date {
            bottom: 54px;
            left: 46px;
            font-size: 24px; } }
    .content-wrapper .content .fotorama .slider-image {
      width: auto;
      max-width: 100%; }
    @media only screen and (min-width: 2320px) {
      .content-wrapper .content .fotorama .fotorama__stage {
        height: 836px !important; } }
    .content-wrapper .content .fotorama .fotorama__arr {
      height: 44px;
      width: 25px;
      background: url(../images/slider-arrow.png); }
      @media only screen and (min-width: 2320px) {
        .content-wrapper .content .fotorama .fotorama__arr {
          height: 88px;
          width: 51px;
          background: url(../images/slider-arrow-retina.png); } }
      .content-wrapper .content .fotorama .fotorama__arr.fotorama__arr--next {
        background-position: 25px 0;
        right: 25px; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .content .fotorama .fotorama__arr.fotorama__arr--next {
            background-position: 51px 0;
            right: 50px; } }
      @media only screen and (min-width: 2320px) {
        .content-wrapper .content .fotorama .fotorama__arr.fotorama__arr--prev {
          left: 50px; } }
    .content-wrapper .content .fotorama .fotorama__nav-wrap {
      position: absolute;
      bottom: 18px; }
      @media only screen and (min-width: 2320px) {
        .content-wrapper .content .fotorama .fotorama__nav-wrap {
          bottom: 36px; } }
      @media only screen and (min-width: 2320px) {
        .content-wrapper .content .fotorama .fotorama__nav-wrap .fotorama__nav--dots .fotorama__nav__frame {
          width: 36px;
          height: 60px; } }
      .content-wrapper .content .fotorama .fotorama__nav-wrap .fotorama__nav__shaft {
        float: right;
        padding-right: 30px; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .content .fotorama .fotorama__nav-wrap .fotorama__nav__shaft {
            padding-right: 60px; } }
        .content-wrapper .content .fotorama .fotorama__nav-wrap .fotorama__nav__shaft .fotorama__nav__frame .fotorama__dot {
          background-image: url(../images/slider-nav-dot.png);
          height: 10px;
          width: 10px;
          border: 0; }
          @media only screen and (min-width: 2320px) {
            .content-wrapper .content .fotorama .fotorama__nav-wrap .fotorama__nav__shaft .fotorama__nav__frame .fotorama__dot {
              background-image: url(../images/slider-nav-dot-retina.png);
              height: 20px;
              width: 20px; } }
        .content-wrapper .content .fotorama .fotorama__nav-wrap .fotorama__nav__shaft .fotorama__nav__frame.fotorama__active .fotorama__dot {
          background-image: url(../images/slider-nav-dot-active.png); }
          @media only screen and (min-width: 2320px) {
            .content-wrapper .content .fotorama .fotorama__nav-wrap .fotorama__nav__shaft .fotorama__nav__frame.fotorama__active .fotorama__dot {
              background-image: url(../images/slider-nav-dot-active-retina.png); } }
    .content-wrapper .content .our-speciality .title-block, .content-wrapper .content .quick-tabs .title-block {
      font-size: 25px;
      font-weight: 500; }
      @media only screen and (min-width: 2320px) {
        .content-wrapper .content .our-speciality .title-block, .content-wrapper .content .quick-tabs .title-block {
          font-size: 50px; } }
    .content-wrapper .content .our-speciality .quick-tabs-links, .content-wrapper .content .quick-tabs .quick-tabs-links {
      padding-left: 0; }
      .content-wrapper .content .our-speciality .quick-tabs-links li, .content-wrapper .content .quick-tabs .quick-tabs-links li {
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-right: 30px; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .content .our-speciality .quick-tabs-links li, .content-wrapper .content .quick-tabs .quick-tabs-links li {
            font-size: 40px;
            margin-right: 60px; } }
        .content-wrapper .content .our-speciality .quick-tabs-links li a, .content-wrapper .content .quick-tabs .quick-tabs-links li a {
          font-size: 20px;
          color: #0052c2;
          font-weight: 500;
          text-decoration: none;
          background-image: url(../images/quick-tabs-link-bg.png);
          background-repeat: repeat-x;
          padding-bottom: 3px;
          background-position: 0px 25px; }
          @media only screen and (min-width: 2320px) {
            .content-wrapper .content .our-speciality .quick-tabs-links li a, .content-wrapper .content .quick-tabs .quick-tabs-links li a {
              font-size: 40px;
              padding-bottom: 6px;
              background-position: 0 50px; } }
        .content-wrapper .content .our-speciality .quick-tabs-links li.active a, .content-wrapper .content .quick-tabs .quick-tabs-links li.active a {
          pointer-events: none;
          cursor: default;
          color: #000;
          background-image: none; }
    .content-wrapper .content .our-speciality .quick-tabs-container, .content-wrapper .content .quick-tabs .quick-tabs-container {
      display: none;
      font-size: 0; }
      .content-wrapper .content .our-speciality .quick-tabs-container#tab_1, .content-wrapper .content .quick-tabs .quick-tabs-container#tab_1 {
        display: block; }
      .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item {
        width: 213px;
        height: 213px;
        display: inline-block;
        text-align: center;
        background-color: #f2f2f2;
        vertical-align: top; }
        .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item a, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item a {
          text-decoration: none; }
        .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item .qt-wrap, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item .qt-wrap {
          padding: 35px 0 20px 0; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item {
            width: 426px;
            height: 426px; } }
        .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item .image-wrap, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item .image-wrap {
          box-sizing: border-box;
          width: 90px;
          height: 90px;
          display: block;
          box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
          border-radius: 50px;
          text-align: center;
          margin: 0 auto 0 auto; }
          @media only screen and (min-width: 2320px) {
            .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item .image-wrap, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item .image-wrap {
              width: 180px;
              height: 180px;
              margin: 70px auto 20px auto;
              border-radius: 100px; } }
          .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item .image-wrap img, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item .image-wrap img {
            margin: 30px auto 0 auto;
            width: 50%;
            width: 32px;
            height: 32px; }
            .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item .image-wrap img.hover, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item .image-wrap img.hover {
              display: none;
              width: 32px;
              height: 32px; }
              @media only screen and (min-width: 2320px) {
                .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item .image-wrap img.hover, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item .image-wrap img.hover {
                  width: 64px;
                  height: 64px; } }
            @media only screen and (min-width: 2320px) {
              .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item .image-wrap img, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item .image-wrap img {
                width: 64px;
                height: 64px;
                margin: 60px auto 0 auto; } }
        .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item p, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item p {
          color: #0052c2;
          font-size: 14px; }
          @media only screen and (min-width: 2320px) {
            .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item p, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item p {
              font-size: 28px; } }
        .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:nth-child(8n-6), .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:nth-child(8n-4), .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:nth-child(8n-3), .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:nth-child(8n-1), .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:nth-child(8n-6), .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:nth-child(8n-4), .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:nth-child(8n-3), .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:nth-child(8n-1) {
          background-color: #f9f9f9; }
        .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:hover, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:hover {
          background-color: #4b0c09; }
          .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:hover p, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:hover p {
            color: #fff; }
          .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:hover .image-wrap, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:hover .image-wrap {
            border: 2px solid #fff;
            width: 92px;
            height: 92px; }
            @media only screen and (min-width: 2320px) {
              .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:hover .image-wrap, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:hover .image-wrap {
                border: 4px solid #fff;
                width: 184px;
                height: 184px; } }
            .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:hover .image-wrap .show, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:hover .image-wrap .show {
              display: none; }
            .content-wrapper .content .our-speciality .quick-tabs-container .quick-tabs-item:hover .image-wrap .hover, .content-wrapper .content .quick-tabs .quick-tabs-container .quick-tabs-item:hover .image-wrap .hover {
              display: block; }
  .content-wrapper .form {
    clear: both;
    background-color: #4b0c09;
    margin: 0 0 60px 0; }
    @media only screen and (min-width: 2320px) {
      .content-wrapper .form {
        margin: 0 0 60px 0; } }
    .content-wrapper .form .form-wrap {
      width: 772px;
      margin: 0 auto;
      padding: 32px 0 35px 0; }
      @media only screen and (min-width: 2320px) {
        .content-wrapper .form .form-wrap {
          width: 1544px;
          padding: 64px 0 70px 0; } }
      .content-wrapper .form .form-wrap p {
        margin: 0; }
      .content-wrapper .form .form-wrap .form-title {
        font-size: 25px;
        color: #fff;
        font-weight: 500;
        margin: 0 0 20px 0;
        text-align: left; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .form .form-wrap .form-title {
            font-size: 50px;
            margin: 0 0 40px 0; } }
      .content-wrapper .form .form-wrap .form-input-text, .content-wrapper .form .form-wrap .form-input-select {
        padding: 15px;
        width: 363px;
        height: 55px;
        box-sizing: border-box;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: lighter;
        color: #1d1f21; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .form .form-wrap .form-input-text, .content-wrapper .form .form-wrap .form-input-select {
            padding: 30px;
            width: 726px;
            height: 110px;
            margin-bottom: 30px;
            font-size: 28px; } }
      .content-wrapper .form .form-wrap .form-input-select {
        padding: 10px;
        float: left; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .form .form-wrap .form-input-select {
            padding: 10px; } }
      .content-wrapper .form .form-wrap .form-textarea {
        float: right;
        width: 387px;
        height: 125px;
        resize: none;
        padding: 18px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: lighter;
        color: #1d1f21; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .form .form-wrap .form-textarea {
            width: 774px;
            height: 250px;
            padding: 36px;
            font-size: 28px; } }
      .content-wrapper .form .form-wrap .form-submit {
        width: 175px;
        height: 37px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border: 2px solid #e7e7e7;
        border-radius: 37px;
        background-clip: padding-box;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 10px 20px;
        background-color: #5d2522;
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
        cursor: pointer; }
        @media only screen and (min-width: 2320px) {
          .content-wrapper .form .form-wrap .form-submit {
            width: 350px;
            height: 68px;
            font-size: 26px;
            margin: 20px 40px;
            border: 4px solid #e7e7e7; } }
      .content-wrapper .form .form-wrap span.wpcf7-not-valid-tip {
        color: #fff; }
    .content-wrapper .form .wpcf7-response-output {
      display: none !important; }
  .content-wrapper .ajax-loader {
    display: none; }

.popup {
  display: none;
  border-radius: 15px; }
  .popup.form {
    clear: both;
    background-color: #4b0c09;
    margin: 0 0 60px 0; }
    @media only screen and (min-width: 2320px) {
      .popup.form {
        margin: 0 0 60px 0; } }
    .popup.form .form-wrap {
      width: 772px;
      margin: 0 auto;
      padding: 25px 35px 35px 35px; }
      @media only screen and (min-width: 2320px) {
        .popup.form .form-wrap {
          width: 1544px;
          padding: 50px 70px 70px 70px; } }
      .popup.form .form-wrap p {
        margin: 0; }
      .popup.form .form-wrap .form-title {
        font-size: 25px;
        color: #fff;
        font-weight: 500;
        margin: 0 0 20px 0;
        text-align: left; }
        @media only screen and (min-width: 2320px) {
          .popup.form .form-wrap .form-title {
            font-size: 50px;
            margin: 0 0 40px 0; } }
      .popup.form .form-wrap .form-input-text, .popup.form .form-wrap .form-input-select {
        padding: 15px;
        width: 363px;
        height: 55px;
        box-sizing: border-box;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: lighter;
        color: #1d1f21; }
        @media only screen and (min-width: 2320px) {
          .popup.form .form-wrap .form-input-text, .popup.form .form-wrap .form-input-select {
            padding: 30px;
            width: 726px;
            height: 110px;
            margin-bottom: 30px;
            font-size: 28px; } }
      .popup.form .form-wrap .form-input-select {
        padding: 10px;
        float: left; }
        @media only screen and (min-width: 2320px) {
          .popup.form .form-wrap .form-input-select {
            padding: 10px; } }
      .popup.form .form-wrap .form-textarea {
        float: right;
        width: 387px;
        height: 125px;
        resize: none;
        padding: 18px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: lighter;
        color: #1d1f21; }
        @media only screen and (min-width: 2320px) {
          .popup.form .form-wrap .form-textarea {
            width: 774px;
            height: 250px;
            padding: 36px;
            font-size: 28px; } }
      .popup.form .form-wrap .form-submit {
        width: 175px;
        height: 37px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border: 2px solid #e7e7e7;
        border-radius: 37px;
        background-clip: padding-box;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 10px 20px;
        background-color: #5d2522;
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
        cursor: pointer; }
        @media only screen and (min-width: 2320px) {
          .popup.form .form-wrap .form-submit {
            width: 350px;
            height: 68px;
            font-size: 26px;
            margin: 20px 40px;
            border: 4px solid #e7e7e7; } }
      .popup.form .form-wrap span.wpcf7-not-valid-tip {
        color: #fff; }
    .popup.form .wpcf7-response-output {
      display: none !important; }
  .popup .ajax-loader {
    display: none; }

.right-sidebar {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 267.5px;
  margin: 0 0 60px 0; }
  @media only screen and (min-width: 2320px) {
    .right-sidebar {
      width: 525px;
      margin: 0 0 120px 0; } }
  .right-sidebar .sidebar-wrap {
    padding: 0 13px; }
    @media only screen and (min-width: 2320px) {
      .right-sidebar .sidebar-wrap {
        padding: 0 26px; } }
    .right-sidebar .sidebar-wrap .blue-title {
      font-size: 20px;
      text-align: center;
      color: #0052c2;
      margin: 14px 0 6px 0;
      font-weight: 500; }
      @media only screen and (min-width: 2320px) {
        .right-sidebar .sidebar-wrap .blue-title {
          font-size: 40px;
          margin: 28px 0 12px 0; } }
    .right-sidebar .sidebar-wrap .dipolm-text {
      margin: 6px 0 18px 0;
      text-align: center;
      font-size: 14px;
      color: #1d1f21; }
      @media only screen and (min-width: 2320px) {
        .right-sidebar .sidebar-wrap .dipolm-text {
          margin: 12px 0 36px 0;
          font-size: 28px; } }
  .right-sidebar .news-block {
    height: 418px;
    margin-bottom: 120px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 2320px) {
      .right-sidebar .news-block {
        height: 836px;
        margin-bottom: 225px; } }
    .right-sidebar .news-block .news-title {
      font-size: 20px;
      color: #1d1f21;
      font-weight: 500;
      margin: 15px 0 10px 0; }
      @media only screen and (min-width: 2320px) {
        .right-sidebar .news-block .news-title {
          font-size: 40px;
          margin: 30px 0 20px 0; } }
    .right-sidebar .news-block .news-text {
      color: #1d1f21;
      font-size: 14px;
      margin: 13px 0 22px 0; }
      @media only screen and (min-width: 2320px) {
        .right-sidebar .news-block .news-text {
          font-size: 28px;
          margin: 26px 0 44px 0; } }
    .right-sidebar .news-block .news-date {
      color: #929292;
      font-weight: lighter;
      font-size: 12px;
      margin: 25px 0 0 0;
      padding: 0 0 20px 0; }
      @media only screen and (min-width: 2320px) {
        .right-sidebar .news-block .news-date {
          font-size: 24px;
          margin: 50px 0 0 0;
          padding: 0 0 40px 0; } }
  .right-sidebar .diplom-block {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); }
    .right-sidebar .diplom-block .dip-wrap {
      height: 213px; }
      @media only screen and (min-width: 2320px) {
        .right-sidebar .diplom-block .dip-wrap {
          height: 426px; } }
    .right-sidebar .diplom-block img.diplom {
      margin: 0 auto;
      display: block;
      position: relative;
      bottom: 18px;
      margin-bottom: -18px;
      padding: 0 28px 0 45px;
      box-sizing: border-box; }
      @media only screen and (min-width: 2320px) {
        .right-sidebar .diplom-block img.diplom {
          bottom: 36px;
          margin-bottom: -36px;
          padding: 0 56px 0 90px; } }
    .right-sidebar .diplom-block .image-block {
      position: relative; }
      .right-sidebar .diplom-block .image-block .under-image {
        position: absolute;
        top: 0;
        text-align: center;
        width: 267.5px; }
        @media only screen and (min-width: 2320px) {
          .right-sidebar .diplom-block .image-block .under-image {
            width: 525px; } }
        .right-sidebar .diplom-block .image-block .under-image .under-title {
          margin: 26px 0 0 0;
          font-size: 20px;
          color: #fff;
          font-weight: 500; }
          @media only screen and (min-width: 2320px) {
            .right-sidebar .diplom-block .image-block .under-image .under-title {
              margin: 52px 0 0 0;
              font-size: 40px; } }
        .right-sidebar .diplom-block .image-block .under-image .under-text {
          font-size: 14px;
          color: #fff;
          margin: 7px 0 0 0; }
          @media only screen and (min-width: 2320px) {
            .right-sidebar .diplom-block .image-block .under-image .under-text {
              font-size: 28px;
              margin: 14px 0 0 0; } }
        .right-sidebar .diplom-block .image-block .under-image .under-link {
          display: block;
          border: 2px solid #e7e7e7;
          border-radius: 37px;
          background-clip: padding-box;
          background-color: rgba(255, 255, 255, 0.1);
          width: 170px;
          height: 35px;
          margin: 37px auto 0 auto; }
          @media only screen and (min-width: 2320px) {
            .right-sidebar .diplom-block .image-block .under-image .under-link {
              border-radius: 37px;
              width: 340px;
              height: 70px;
              margin: 75px auto 0 auto; } }
          .right-sidebar .diplom-block .image-block .under-image .under-link a {
            font-size: 13px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px 0 0 0; }
            @media only screen and (min-width: 2320px) {
              .right-sidebar .diplom-block .image-block .under-image .under-link a {
                font-size: 26px;
                padding: 20px 0 0 0; } }
    .right-sidebar .diplom-block .diplom-education {
      text-align: center; }
      .right-sidebar .diplom-block .diplom-education .education-image {
        width: 50%;
        margin: 15px 0 10px 0; }
        @media only screen and (min-width: 2320px) {
          .right-sidebar .diplom-block .diplom-education .education-image {
            margin: 30px 0 20px 0; } }
      .right-sidebar .diplom-block .diplom-education .blue-title {
        margin-top: 0; }

.content-wrapper.photo-gallery-wrap .content .photo-gallery .quick-tabs-links li a {
  font-size: 15px;
  background-position: 0 17px; }
  @media only screen and (min-width: 2320px) {
    .content-wrapper.photo-gallery-wrap .content .photo-gallery .quick-tabs-links li a {
      font-size: 30px;
      background-position: 0 34px; } }
.content-wrapper.photo-gallery-wrap .content .photo-gallery .ngg-gallery-thumbnail {
  display: inline-block;
  position: relative;
  width: 213px;
  height: 213px;
  overflow: hidden;
  margin: 0 23px 25px 0;
  box-sizing: border-box; }
  @media only screen and (min-width: 2320px) {
    .content-wrapper.photo-gallery-wrap .content .photo-gallery .ngg-gallery-thumbnail {
      width: 426px;
      height: 426px;
      margin: 0 46px 50px 0; } }
  .content-wrapper.photo-gallery-wrap .content .photo-gallery .ngg-gallery-thumbnail:nth-child(5n) {
    margin-right: 0; }
  .content-wrapper.photo-gallery-wrap .content .photo-gallery .ngg-gallery-thumbnail img {
    width: 100%;
    padding: 0;
    border: 0;
    height: 100%;
    margin: 0; }
    .content-wrapper.photo-gallery-wrap .content .photo-gallery .ngg-gallery-thumbnail img:hover {
      background-color: transparent; }
  .content-wrapper.photo-gallery-wrap .content .photo-gallery .ngg-gallery-thumbnail:hover span {
    position: absolute;
    bottom: 0;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box; }
    @media only screen and (min-width: 2320px) {
      .content-wrapper.photo-gallery-wrap .content .photo-gallery .ngg-gallery-thumbnail:hover span {
        padding: 30px;
        font-size: 30px; } }

.staff-wrapper h1 {
  margin-bottom: 25px; }
  @media only screen and (min-width: 2320px) {
    .staff-wrapper h1 {
      margin-bottom: 50px; } }
.staff-wrapper .content .staff-wrap {
  margin-bottom: 60px; }
  @media only screen and (min-width: 2320px) {
    .staff-wrapper .content .staff-wrap {
      margin-bottom: 120px; } }
  .staff-wrapper .content .staff-wrap .staff-item {
    display: inline-block;
    height: 255px;
    width: 228px;
    margin-bottom: 10px;
    vertical-align: top; }
    @media only screen and (min-width: 2320px) {
      .staff-wrapper .content .staff-wrap .staff-item {
        height: 510px;
        width: 456px;
        margin-bottom: 20px; } }
    .staff-wrapper .content .staff-wrap .staff-item .image-wrap {
      width: 122px;
      height: 122px;
      margin: 0 auto 0 auto;
      padding-top: 65px; }
      @media only screen and (min-width: 2320px) {
        .staff-wrapper .content .staff-wrap .staff-item .image-wrap {
          width: 244px;
          height: 244px;
          padding-top: 130px; } }
      .staff-wrapper .content .staff-wrap .staff-item .image-wrap img {
        height: 100%; }
    .staff-wrapper .content .staff-wrap .staff-item .staff-name {
      text-align: center;
      font-size: 15px; }
      @media only screen and (min-width: 2320px) {
        .staff-wrapper .content .staff-wrap .staff-item .staff-name {
          font-size: 30px; } }
    .staff-wrapper .content .staff-wrap .staff-item .more {
      display: none;
      text-align: center;
      font-size: 15px;
      color: #0052c2;
      text-decoration: none;
      font-weight: 500; }
      @media only screen and (min-width: 2320px) {
        .staff-wrapper .content .staff-wrap .staff-item .more {
          font-size: 30px; } }
    .staff-wrapper .content .staff-wrap .staff-item:hover {
      border-radius: 3px;
      background-clip: padding-box;
      background-color: #fff;
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); }
      .staff-wrapper .content .staff-wrap .staff-item:hover .image-wrap {
        padding-top: 25px; }
        @media only screen and (min-width: 2320px) {
          .staff-wrapper .content .staff-wrap .staff-item:hover .image-wrap {
            padding-top: 50px; } }
      .staff-wrapper .content .staff-wrap .staff-item:hover .more {
        display: block; }

.contacts-wrapper .ya-map {
  float: right;
  width: 508px;
  height: 424px; }
  @media only screen and (min-width: 2320px) {
    .contacts-wrapper .ya-map {
      width: 1017px;
      height: 848px; } }
.contacts-wrapper .content {
  width: 650px; }
  @media only screen and (min-width: 2320px) {
    .contacts-wrapper .content {
      width: 1300px; } }
  .contacts-wrapper .content .contacts {
    margin-bottom: 100px; }
    @media only screen and (min-width: 2320px) {
      .contacts-wrapper .content .contacts {
        margin-bottom: 200px; } }
    .contacts-wrapper .content .contacts .item {
      margin-top: 30px; }
      @media only screen and (min-width: 2320px) {
        .contacts-wrapper .content .contacts .item {
          margin-top: 60px; } }
      .contacts-wrapper .content .contacts .item .title {
        font-style: 20px;
        font-weight: 500;
        margin: 0; }
        @media only screen and (min-width: 2320px) {
          .contacts-wrapper .content .contacts .item .title {
            font-size: 40px; } }
      .contacts-wrapper .content .contacts .item .text {
        font-size: 15px;
        margin: 13px 0 0 0; }
        @media only screen and (min-width: 2320px) {
          .contacts-wrapper .content .contacts .item .text {
            font-size: 30px;
            margin: 26px 0 0 0; } }
        .contacts-wrapper .content .contacts .item .text span {
          font-weight: lighter;
          color: #a5a5a5; }
.contacts-wrapper .form.contacts .form-wrap {
  text-align: center; }
.contacts-wrapper .form.contacts .your-message {
  float: right; }
  .contacts-wrapper .form.contacts .your-message textarea {
    float: none; }

.spec-wrapper h1 {
  margin-bottom: 0; }
.spec-wrapper .course-time {
  margin: 12.5px 0 20px 0;
  font-size: 20px; }
  @media only screen and (min-width: 2320px) {
    .spec-wrapper .course-time {
      margin: 25px 0 40px 0;
      font-size: 40px; } }
.spec-wrapper .spec-diplom {
  width: 100%;
  height: 210px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 20px;
  padding: 0 100px;
  margin-bottom: 70px;
  box-sizing: border-box; }
  @media only screen and (min-width: 2320px) {
    .spec-wrapper .spec-diplom {
      height: 420px;
      top: 40px;
      padding: 0 200px;
      margin-bottom: 140px; } }
  .spec-wrapper .spec-diplom .diplom-block {
    width: 260px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 110px; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .spec-diplom .diplom-block {
        width: 520px;
        margin-right: 220px; } }
    .spec-wrapper .spec-diplom .diplom-block img {
      width: 207px;
      height: 125px;
      margin-top: -20px; }
      @media only screen and (min-width: 2320px) {
        .spec-wrapper .spec-diplom .diplom-block img {
          margin-top: -40px;
          width: 414px;
          height: 251px; } }
  .spec-wrapper .spec-diplom .cost-block {
    display: inline-block;
    width: 230px;
    margin-right: 100px;
    vertical-align: top; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .spec-diplom .cost-block {
        width: 460px;
        margin-right: 200px; } }
    .spec-wrapper .spec-diplom .cost-block .cost {
      font-weight: bold;
      font-size: 40px;
      color: #4b0c09;
      text-align: center;
      margin: 40px 0 0 0; }
      @media only screen and (min-width: 2320px) {
        .spec-wrapper .spec-diplom .cost-block .cost {
          font-size: 80px;
          margin: 80px 0 0 0; } }
      .spec-wrapper .spec-diplom .cost-block .cost span {
        display: inline-block;
        position: relative;
        font-weight: normal;
        font-size: 15px;
        vertical-align: top;
        top: 7px; }
        @media only screen and (min-width: 2320px) {
          .spec-wrapper .spec-diplom .cost-block .cost span {
            font-size: 30px;
            top: 15px; } }
    .spec-wrapper .spec-diplom .cost-block .cost-title {
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      margin: 30px 0 0 0; }
      @media only screen and (min-width: 2320px) {
        .spec-wrapper .spec-diplom .cost-block .cost-title {
          font-size: 40px;
          margin: 60px 0 0 0; } }
  .spec-wrapper .spec-diplom .employment-block {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    text-align: center; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .spec-diplom .employment-block {
        width: 500px; } }
    .spec-wrapper .spec-diplom .employment-block img.spec {
      width: 117.5px;
      height: 117.5px;
      margin-top: -20px; }
      @media only screen and (min-width: 2320px) {
        .spec-wrapper .spec-diplom .employment-block img.spec {
          width: 235px;
          height: 235px;
          margin-top: -40px; } }
  .spec-wrapper .spec-diplom .blue-title {
    font-size: 20px;
    text-align: center;
    color: #0052c2;
    margin: 14px 0 6px 0;
    font-weight: 500; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .spec-diplom .blue-title {
        font-size: 40px;
        margin: 28px 0 12px 0; } }
  .spec-wrapper .spec-diplom .spec-text {
    margin: 6px 0 18px 0;
    text-align: center;
    font-size: 14px;
    color: #1d1f21; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .spec-diplom .spec-text {
        margin: 12px 0 36px 0;
        font-size: 28px; } }
.spec-wrapper .program-table .title {
  font-weight: 500;
  font-size: 25px; }
  @media only screen and (min-width: 2320px) {
    .spec-wrapper .program-table .title {
      font-size: 50px; } }
.spec-wrapper .program-table table {
  font-size: 0; }
  .spec-wrapper .program-table table td, .spec-wrapper .program-table table th {
    text-align: left;
    box-sizing: border-box;
    padding: 20px 0 20px 15px;
    vertical-align: top;
    font-size: 15px;
    border-bottom: 1px solid #ededed; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .program-table table td, .spec-wrapper .program-table table th {
        font-size: 30px;
        padding: 40px 0 40px 30px;
        border-bottom: 2px solid #ededed; } }
    .spec-wrapper .program-table table td p, .spec-wrapper .program-table table th p {
      margin-top: 0; }
  .spec-wrapper .program-table table .head-1 {
    width: 70px; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .program-table table .head-1 {
        width: 140px; } }
  .spec-wrapper .program-table table .head-2 {
    width: 290px; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .program-table table .head-2 {
        width: 580px; } }
  .spec-wrapper .program-table table .head-3 {
    width: 450px; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .program-table table .head-3 {
        width: 900px; } }
  .spec-wrapper .program-table table .head-4 {
    width: 275px; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .program-table table .head-4 {
        width: 550px; } }
  .spec-wrapper .program-table table .head-5 {
    width: 65px; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .program-table table .head-5 {
        width: 130px; } }
.spec-wrapper .quick-tabs {
  margin-top: 35px; }
  @media only screen and (min-width: 2320px) {
    .spec-wrapper .quick-tabs {
      margin-top: 70px; } }
  .spec-wrapper .quick-tabs .documents {
    font-size: 15px; }
    @media only screen and (min-width: 2320px) {
      .spec-wrapper .quick-tabs .documents {
        font-size: 30px; } }
.spec-wrapper .form.spec .form-wrap {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
