
.content-wrapper.front{
	.content{
		width: 852px;
		@include respond-to(retina){
			width: 1704px;
		}
	}
}
.content-wrapper{
	width: $width;
	margin: 0 auto;
	margin-top: 40px;
	@include respond-to(retina){
		width: $width-retina;
		margin-top: 80px;
	}
	.content{
		//width: 852px;
		width: 100%;
		display: inline-block;
		.slider{
			position: relative;
			// width: 852px;
			// height: 418px;
			.slider-text{
				position: absolute;
				bottom: 66px;
				left: 23px;
				color: #fff;
				font-size: 30px;
				margin: 0;
				@include respond-to(retina){
					bottom: 132px;
					left: 46px;
					font-size: 60px;
				}
			}
			.slider-date{
				position: absolute;
				bottom: 27px;
				left: 23px;
				font-size: 12px;
				color: #fff;
				margin: 0;
				@include respond-to(retina){
					bottom: 54px;
					left: 46px;
					font-size: 24px;
				}
			}
		}
		.fotorama{
			.slider-image{
				width: auto;
				max-width: 100%;

			}
			@include respond-to(retina){
				.fotorama__stage{
					height: 836px !important;
				}
			}
			.fotorama__arr{
				height: 44px;
				width: 25px;
				background:url(../images/slider-arrow.png);
				@include respond-to(retina){
					height: 88px;
					width: 51px;
					background:url(../images/slider-arrow-retina.png);
				}
				&.fotorama__arr--next{
					background-position: 25px 0;
					right: 25px;
					@include respond-to(retina){
						background-position: 51px 0;
						right: 50px;
					}	
				}
				&.fotorama__arr--prev{
					@include respond-to(retina){
						left: 50px;
					}
				}
			}
			.fotorama__nav-wrap{
				position: absolute;
				bottom: 18px;
				@include respond-to(retina){
					bottom: 36px;
				}
				.fotorama__nav--dots .fotorama__nav__frame{
					@include respond-to(retina){
						width: 36px;
						height: 60px;
					}
				}
				.fotorama__nav__shaft{
					float: right;
					padding-right: 30px;
					@include respond-to(retina){
						padding-right: 60px;
					}

					.fotorama__nav__frame .fotorama__dot{
						background-image: url(../images/slider-nav-dot.png);
						height: 10px;
						width: 10px;
						border: 0;
						@include respond-to(retina){
							background-image: url(../images/slider-nav-dot-retina.png);
							height: 20px;
							width: 20px;
						}
					}
					.fotorama__nav__frame.fotorama__active .fotorama__dot{
						background-image: url(../images/slider-nav-dot-active.png);
						@include respond-to(retina){
							background-image: url(../images/slider-nav-dot-active-retina.png);
						}
					}
				}
			}
		}
		.our-speciality, .quick-tabs{
			.title-block{
				font-size: 25px;
				font-weight: 500;
				@include respond-to(retina){
					font-size: 50px;
				}
			}
			.quick-tabs-links{
				padding-left: 0;
				li{
					list-style: none;
					display: inline-block;
					font-size: 20px;
					margin-right: 30px;
					@include respond-to(retina){
						font-size: 40px;
						margin-right: 60px;
					}
					a{
						font-size: 20px;
						color: #0052c2;
						font-weight: 500;
						text-decoration: none;
						background-image: url(../images/quick-tabs-link-bg.png);
						background-repeat: repeat-x;
						padding-bottom: 3px;
					    background-position: 0px 25px;
					    @include respond-to(retina){
					    	font-size: 40px;
					    	padding-bottom: 6px;
					    	background-position: 0 50px;
					    }	
					}
					&.active{
						a{
							pointer-events: none;
							cursor: default;
							color: #000;
							background-image: none;
						}
					}
				}
			}
			.quick-tabs-container{
				display: none;
				&#tab_1{
					display: block;
				}
				font-size: 0;
				.quick-tabs-item{
					a{
						text-decoration: none;
					}
					.qt-wrap{
						padding: 35px 0 20px 0;
					}
					width: 213px;
					height: 213px;
					display: inline-block;
					text-align: center;
					background-color: #f2f2f2;
					vertical-align: top;
					
					@include respond-to(retina){
						width: 426px;
						height: 426px;
					}
					.image-wrap{
						box-sizing: border-box;
						width: 90px;
						height: 90px;
						display: block;
						box-shadow: 0 10px 50px rgba(0,0,0,.15);
						border-radius: 50px;
						text-align: center;
						margin: 0 auto 0 auto;
						@include respond-to(retina){
							width: 180px;
							height: 180px;
							margin: 70px auto 20px auto;
							border-radius: 100px;
						}
						img{
							margin: 30px auto 0 auto;
							width: 50%;
							width: 32px;
							height: 32px;
							&.hover{
								display: none;
								width: 32px;
								height: 32px;
								@include respond-to(retina){
									width: 64px;
									height: 64px;
								}
							}
							@include respond-to(retina){
								width: 64px;
								height: 64px;
								margin: 60px auto 0 auto;
							}
						}
					}

					p{
						color: #0052c2;
						font-size: 14px;
						@include respond-to(retina){
							font-size: 28px;
						}
					}
					&:nth-child(8n-6),&:nth-child(8n-4),&:nth-child(8n-3),&:nth-child(8n-1){
						background-color: #f9f9f9;
					}
					&:hover{
						background-color: #4b0c09;
						p{
							color: #fff;
						}
						.image-wrap{
							border: 2px solid #fff;
							width: 92px;
							height: 92px;
							@include respond-to(retina){
								border: 4px solid #fff;
								width: 184px;
								height: 184px;
							}
							.show{
								display: none;
							}
							.hover{
								display: block;
							}
						}
					}
				}
			}
		}
	}
	.form{
		clear: both;
		background-color: #4b0c09;
		margin: 0 0 60px 0;
		@include respond-to(retina){
			margin: 0 0 60px 0;
		}
		.form-wrap{
			width: 772px;
			margin: 0 auto;
			padding: 32px 0 35px 0;
			@include respond-to(retina){
				width: 1544px;
				padding: 64px 0 70px 0;
			}
			p{
				margin: 0;
			}
			.form-title{
				font-size: 25px;
				color: #fff;
				font-weight: 500;
				margin: 0 0 20px 0;
				text-align: left;
				@include respond-to(retina){
					font-size: 50px;
					margin: 0 0 40px 0;
				}
			}
			.form-input-text,.form-input-select{
				padding: 15px;
				width: 363px;
				height: 55px;
				box-sizing: border-box;
				margin-bottom: 15px;
				font-size: 14px;
				font-weight: lighter;
				color: #1d1f21;
				@include respond-to(retina){
					padding: 30px;
					width: 726px;
					height: 110px;
					margin-bottom: 30px;
					font-size: 28px;
				}
			}
			.form-input-select{
				padding: 10px;
				float: left;
				@include respond-to(retina){
					padding: 10px;
				}
			}

			.form-textarea{
				float: right;
				width: 387px;
				height: 125px;
				resize: none;
				padding: 18px;
				box-sizing: border-box;
				font-size: 14px;
				font-weight: lighter;
				color: #1d1f21;
				@include respond-to(retina){
					width: 774px;
					height: 250px;
					padding: 36px;
					font-size: 28px;
				}
			}
			.form-submit{
				width: 175px;
				height: 37px;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				border: 2px solid #e7e7e7;
				border-radius: 37px;
				background-clip: padding-box;
				background-color: rgba(255,255,255,.1);
				margin:10px 20px;
				background-color: #5d2522;
				text-transform: uppercase;
				color: #fff;
				//padding-top: 9px;
				font-size: 13px;
				cursor: pointer;
				// float: right;
				@include respond-to(retina){
					width: 350px;
					height: 68px;
					font-size: 26px;
					margin:20px 40px;
					border: 4px solid #e7e7e7;
				}
			}
			span.wpcf7-not-valid-tip{
				color: #fff;
			}
		}
		.wpcf7-response-output{
			display: none !important;
		}
	}
	.ajax-loader{
		display: none;
	}
}
.popup{
	display: none;
	border-radius: 15px;
	&.form{
		clear: both;
		background-color: #4b0c09;
		margin: 0 0 60px 0;
		@include respond-to(retina){
			margin: 0 0 60px 0;
		}
		.form-wrap{
			width: 772px;
			margin: 0 auto;
			padding: 25px 35px 35px 35px;
			@include respond-to(retina){
				width: 1544px;
				padding: 50px 70px 70px 70px;
			}
			p{
				margin: 0;
			}
			.form-title{
				font-size: 25px;
				color: #fff;
				font-weight: 500;
				margin: 0 0 20px 0;
				text-align: left;
				@include respond-to(retina){
					font-size: 50px;
					margin: 0 0 40px 0;
				}
			}
			.form-input-text,.form-input-select{
				padding: 15px;
				width: 363px;
				height: 55px;
				box-sizing: border-box;
				margin-bottom: 15px;
				font-size: 14px;
				font-weight: lighter;
				color: #1d1f21;
				@include respond-to(retina){
					padding: 30px;
					width: 726px;
					height: 110px;
					margin-bottom: 30px;
					font-size: 28px;
				}
			}
			.form-input-select{
				padding: 10px;
				float: left;
				@include respond-to(retina){
					padding: 10px;
				}
			}

			.form-textarea{
				float: right;
				width: 387px;
				height: 125px;
				resize: none;
				padding: 18px;
				box-sizing: border-box;
				font-size: 14px;
				font-weight: lighter;
				color: #1d1f21;
				@include respond-to(retina){
					width: 774px;
					height: 250px;
					padding: 36px;
					font-size: 28px;
				}
			}
			.form-submit{
				width: 175px;
				height: 37px;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				border: 2px solid #e7e7e7;
				border-radius: 37px;
				background-clip: padding-box;
				background-color: rgba(255,255,255,.1);
				margin:10px 20px;
				background-color: #5d2522;
				text-transform: uppercase;
				color: #fff;
				//padding-top: 9px;
				font-size: 13px;
				cursor: pointer;
				// float: right;
				@include respond-to(retina){
					width: 350px;
					height: 68px;
					font-size: 26px;
					margin:20px 40px;
					border: 4px solid #e7e7e7;
				}
			}
			span.wpcf7-not-valid-tip{
				color: #fff;
			}
		}
		.wpcf7-response-output{
			display: none !important;
		}
	}
	.ajax-loader{
		display: none;
	}
}