.contacts-wrapper{
	&.phone{
		// width: 320px;
		width: 100%;
		margin: 0;
		.ya-map{
			// width: 320px;
			width: 43%;
			height: 200px;
			// float: none;
		}
		.content{
			// width: 320px;
			// width: 100%;
			width: 57%;		
		}
	}

	.ya-map{
		float: right;
		width: 508px;
		height: 424px;
		@include respond-to(retina){
			width: 1017px;
			height: 848px;
		}
	}
	.content{
		width: 650px;
		@include respond-to(retina){
			width: 1300px;
		}
		.contacts{
			margin-bottom: 100px;
			@include respond-to(retina){
				margin-bottom: 200px;
			}
			.item{
				&:nth-child(1){
					margin-top: 0;
				}
				margin-top: 30px;
				@include respond-to(retina){
					margin-top: 60px;
				}
				.title{
					font-style: 20px;
					font-weight: 500;
					margin: 0;
					@include respond-to(retina){
						font-size: 40px;
					}
				}
				.text{
					font-size: 15px;
					margin: 13px 0 0 0;
					@include respond-to(retina){
						font-size: 30px;
						margin: 26px 0 0 0;
					}
					span{
						font-weight: lighter;
						color: #a5a5a5;
					}
				}
			}
		}
	}
	.form.contacts{
		.form-wrap{
			text-align: center;
		}
		.your-message{
			float: right;
			textarea{
				float: none;
			}
		}
	}
}