footer{
	background-color: #1d1f21;
	clear: both;
	.footer{
		width: $width;
		margin: 0 auto;
		padding: 40px 0;
		@include respond-to(retina){
			width: $width-retina;
			padding: 80px 0;
		}
		.logo{
			display: inline-block;
			width: 97px;
			@include respond-to(retina){
				width: 194px;
			}		
		}
		.info{
			display: inline-block;
			vertical-align: top;
			text-align: left;
			color: #fff;
			margin:23px 0 0 100px;
			@include respond-to(retina){
				margin: 46px 0 0 200px;
			}
			.phones{
				font-size: 15px;
				margin: 0 0 10px 0;
				@include respond-to(retina){
					font-size: 30px;
					margin: 0 0 20px 0;
				}
			}
			.worktime{
				font-weight: lighter;
				font-size: 12px;
				margin: 0;
				@include respond-to(retina){
					font-size: 24px;
				}
			}
		}
		#searchform{
			float: right;
			margin-top: 23px;
			.search-field{
				height: 37px;
				width: 177px;
				border-radius: 50px;
				border: 0;
				padding-left: 25px;
				font-size: 12px;
				@include respond-to(retina){
					margin-top: 46px;
					height: 75px;
					width: 354px;
					border-radius: 100px;
					padding-left: 50px;
					font-size: 24px;
				}
			}
		}

	}
}