@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,500,400italic,300italic,300,100,100italic);

//$normal: 1300px;
$retina: 2320px;

@mixin respond-to($media) {
  @if $media == norm {
    @media only screen and (max-width: $normal) { @content; }
  }
  @else if $media == retina {
    @media only screen and (min-width: $retina) { @content; }
  }
}

$width: 1160px;
$width-retina: 2320px;
body{
	margin: 0;
}
p, a, span, div{
	font-family: "Roboto";
}
img{
	width: 100%;
	@include respond-to(retina){
		width: 100%;
	}
	&.full-size{
		width: 100%;

	}
}
#shWrap{
	img{
		width: inherit;

	}
}
.ngg-galleryoverview .ngg-gallery-thumbnail{
	width: 215px;
	height: 215px;
	box-sizing: border-box;
	@include respond-to(retina){
		width: 430px;
		height: 430px;
	}
	img{
		&:hover{
			background-color: transparent;
		}
		padding: 0;
		border: 0;
		height: 100%;
		margin: 0;
	}
}
h1{
	color: #000;
	font-size: 25px;
	font-weight: 500;
	margin: 0 0 40px 0;
	@include respond-to(retina){
		font-size: 50px;
		margin: 0 0 80px 0;
	}
}
@mixin ovf-img { 
	overflow: hidden; 
	text-align: center; 
	word-spacing: nowrap; 
	vertical-align: middle; 
	&:after { 
		content: ""; 
		display: inline-block; 
		height: 100%; 
		vertical-align: middle; 
	} 
	img { 
		position: relative; 
		top: 50%; 
		transform: translateY(-50%); 
		max-width: 100%; 
		height: auto; 
		vertical-align: middle; 
	}
}
/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

@import "header";
@import "footer";
@import "content";
@import "right-sidebar";
@import "photo-gallery";
@import "staff";
@import "contacts";
@import "spec";
